.container{
  height:auto;
  width:500px;
  background-color: white;
  padding: 20px;
  margin-top: 0px;
  margin-left: 500px;
  border-radius: 10px;

}
.container h1{
 text-align: center;
 color:rgb(7, 110, 126);

}